body{
    background-color: rgb(255, 222, 224);
}
header{
    text-align: center;
    background-color: #2d78f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
p{

    font-size: 20px;
    margin-left:5%;
    background-color: #eceef1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.i{
    font-size: 20px;
    margin-left:5%;
    background-color: #eceef1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    

}
.i1{
    margin-top: 2%;
    font-size: 20px;
    margin-left:5%;
    background-color: #eceef1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}